#header {
  display: flex;
  height: 80vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  border-top: 50px solid white;
  border-bottom: 50px solid white;
}

#left,
#right {
  height: 100%;
  flex-grow: 1;
  // }

  // #left,
  // #right {
  background-color: $darkgold;
  color: black;
  font-family: "Abril Fatface", "sans serif";
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border-right: 50px solid white;
  padding: 1rem;

  p {
    margin: 0;
    line-height: 90%;
  }
}

#right {
  align-items: flex-start;
  background-color: turquoise;
}

#left {
  align-items: flex-end;
}

.ampersand {
  // position: relative;
  // left: 50px;
  transform: scaleX(-1);
}

/* If screen is smaller than a large mobile, do not show */
@media (max-width: 819px) {
  #left,
  #right {
    font-size: 4rem;
  }
}

@media (max-width: 609px) {
  #left,
  #right {
    font-size: 3rem;
  }
}

@media (max-width: 426px) {
  #left,
  #right {
    font-size: 2rem;
  }
}
