#header {
  display: flex;
  height: 80vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  // border-top: 30px solid white;
  border: 30px solid white;
}

#left,
#right {
  height: 100%;
  // Ensures share the width equally
  flex-basis: 50%;
  // Grows according to the size of the content
  // flex-grow: 1;
  color: black;
  font-family: "Abril Fatface", "sans serif";
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border-right: 50px solid white;
  padding: 1rem;

  p {
    margin: 0;
    line-height: 90%;
  }
}

#right {
  align-items: flex-start;
  background-color: #22bbd7;
}

#left {
  align-items: flex-end;
  background-color: $darkgold;
}

.ampersand {
  transform: scaleX(-1);
}

/* If screen is smaller than a large mobile, do not show */
@media (max-width: 819px) {
  #header {
    border: 20px solid white;
  }
  #left,
  #right {
    font-size: 4rem;
  }
}

@media (max-width: 609px) {
  #header {
    border: 15px solid white;
  }
  #left,
  #right {
    font-size: 3rem;
  }
}

@media (max-width: 426px) {
  #header {
    border: 10px solid white;
  }
  #left,
  #right {
    font-size: 2rem;
    padding: 3px;
  }
}
